<div class="content">
  <div class="col-8 column wrapper">
    <h2>TU PEDIDO:</h2>
    <div class="wrapper-2 gray-bg">
      <table class="order-table large-font">
        <thead>
          <tr>
            <th></th> <!-- Product image column -->
            <th>PRODUCTO</th>
            <th>COLOR</th>
            <th>TALLA</th>
            <th>CANTIDAD</th>
            <th></th>
            <th>IMPORTE</th>
            <th></th> <!-- Delete icon column -->
          </tr>
        </thead>
        <tbody *ngIf="customer.orders !== undefined && customer.orders[0] !== undefined">
          <tr *ngFor="let line of customer.orders[0].lines">
            <td *ngIf="line.productItem !== undefined && line.productItem.images !== undefined && line.productItem.images[0] !== undefined">
              <img class="order-table-image" src="{{ apiStorage }}{{ line.productItem.images[0].imagePath }}">
            </td>
            <td *ngIf="line.productItem !== undefined && line.productItem.images !== undefined && line.productItem.images[0] === undefined">
              <img class="order-table-image" src="../../../../assets/images/default-image.jpeg">
            </td>
            <td>{{ line.productItem?.product?.name }}</td>
            <td><div class ="color-selector-option" style.background-color = {{line.productItem?.color}}></div></td>
            <td>{{ line.productItem?.size }}</td>
            <td *ngIf="line.productItem !== undefined">
              <input type="number" oninput="this.value=(parseInt(this.value))" min="1" [(ngModel)]="line.quantity" (change)="onLineQuantityChange($event,line)">
              <input type="hidden" value="{{ line.id }}">
            </td>
            <td *ngIf="line.productItem !== undefined && line.productItem.stock !== undefined && line.quantity > line.productItem.stock; else onStock" style="color:red" >
              &nbsp;¡stock!&nbsp;
            </td>
            <ng-template #onStock>
              <td></td>
            </ng-template>
            <td>{{ line.amount | currency : 'EUR' : '' }} €</td>
            <td>
              <button class="delete-line-button" value="{{ line.id }}" (click)="onDeleteLineButtonClick($event)">
                <img src="../../../../assets/iconos/trash-red.svg">
              </button>
            </td>
            <input type="hidden" value="{{ line.id }}">
          </tr>
        </tbody>
      </table>
      <div class="subtotal-wrapper larger-font" *ngIf="customer.orders !== undefined && customer.orders[0] !== undefined">
        <div class="bold">
          <span>TOTAL A PAGAR:</span>
          <span>{{ customer.orders[0].amount | currency : 'EUR' : '' }} €</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4 column wrapper">
    <h2>DIRECCIÓN DE ENVÍO:</h2>
    <div class="column gray-bg large-font wrapper-2 address-content">
      <span class="bold">Nombre:</span>
      <span *ngIf="customer.lastName === null">{{ customer.firstName }} <span class="needed-data">Apellido</span></span>
      <span *ngIf="customer.lastName !== null">{{ customer.firstName }} {{ customer.lastName }}</span>
      <span class="bold">Dirección:</span>
      <span class="needed-data" *ngIf=
                  "customer.streetAddress === null ||
                  customer.zipCode === null ||
                  customer.city === null ||
                  customer.province === null ||
                  customer.country === null
                  ; else direccion"
                  >Completar dirección</span>
      <ng-template #direccion>
        <span>{{ customer.streetAddress }},</span>
        <span>{{ customer.zipCode }} - {{ customer.city }},</span>
        <span>{{ customer.province }},</span>
        <span>{{ customer.country }}</span>
      </ng-template>
      <button class="btn button bold large-font" id="edit-customer-data-button" (click)="onModifyCustomerDataButtonClick($event)">MODIFICAR DATOS</button>
    </div>
    <div class="column" *ngIf="customer.orders !== undefined && customer.orders[0] !== undefined">
      <button *ngIf="customer.orders[0].lines !== undefined" class="btn button bold large-font" id="pay-button" (click)="onPayButtonClick($event)" [disabled]="!onStock">PAGAR</button>
    </div>
  </div>
</div>
<section class="highlighted_products_container">
  <h3>NOVEDADES</h3>
  <div class="highlighted_products row flex overflow-hidden justify-content-center">
      <div class="highlighted_prod_preview" *ngFor="let product of newProducts">
          <a class="highlighted_prod_link" routerLink="products/product/{{product.id}}">
              <img *ngIf="product.productItems !== undefined && product.productItems[0] !== undefined && product.productItems[0].images !== undefined && product.productItems[0].images[0] !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
              <img *ngIf="product.productItems !== undefined && product.productItems[0] !== undefined && product.productItems[0].images !== undefined && product.productItems[0].images[0] === undefined" src="../../../../assets/images/default-image.jpeg">
              <p class="highlighted_prod_name">{{product.name}}</p>
              <p *ngIf="product.productItems !== undefined && product.productItems[0] !== undefined" class="highlighted_prod_price">{{getItemPriceWithDiscount(product.productItems[0], product).toFixed(2)}}€</p>
          </a>
      </div>
  </div>
</section>
