<h1>Pedido 000001</h1>
<div class ="filtros">
    <div class = "filizq">
        <label>Pedido:</label><br>
        <label>ID</label><input type="text" name="inputname" value="000001" disabled><br>
        <label>Estado:</label>
        <select>
            <option value=""></option>
            <option value="pagado">Pagado</option>
            <option value="php">En Gestión</option>
            <option value="java">Enviado</option>
            <option value="golang">Cancelado</option>
            </select><br>
        <label>Importe:</label><input type="text" name="inputname" value="72.45 €" disabled><br>   
        <label>Fecha:</label><input type="text" name="inputname" value="01/01/2022" disabled><br>
    </div>
    <div class="filcen">
        <label>Comentarios:</label><br>
        <textarea>La descripciones son muy largas y no cabe el texto entero en una columna de la tabla pero si el usuario quiere leer o editar la descripción puede entrar a ver los detalles de un producto y usar este campo que es mucho mas grande."</textarea>
    </div>    
    <div class ="filder">
        <label>Cliente:</label><br>
        <label>Nombre:</label><input type="text" name="inputname" value="Un Nombre" disabled><br>
        <label>Apellido:</label><input type="text" name="inputname" value="Un Apellido" disabled><br>
        <label>Dirección:</label><input type="text" name="inputname" value="Calle Me Falta Un Tornillo, 1B esc A" disabled><br>
        <label>Email:</label><input type="text" name="inputname" value="unnombreunapellido@gmail.com" disabled><br>
        <label>N. de Teléfono:</label><input type="text" name="inputname" value="123456789" disabled><br>
    </div>
    <div>
    </div>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio Con Descuento</th>
        <th>Importe</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td>Un Nombre Muy Largo</td>
        <td>2 ud.</td>
        <td>22,45€</td>
        <td>15%</td>
        <td>19,09€</td>
        <td>38,18€</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td>Un Nombre Muy Largo</td>
        <td>2 ud.</td>
        <td>22,45€</td>
        <td>15%</td>
        <td>19,09€</td>
        <td>38,18€</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td>Un Nombre Muy Largo</td>
        <td>2 ud.</td>
        <td>22,45€</td>
        <td>15%</td>
        <td>19,09€</td>
        <td>38,18€</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td>Un Nombre Muy Largo</td>
        <td>2 ud.</td>
        <td>22,45€</td>
        <td>15%</td>
        <td>19,09€</td>
        <td>38,18€</td>
    </tr>
</div>
