<h1>Item 000001</h1>
<div class ="uno">
    <div class = "filizq">
        <div class = "filizqarr">
            <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Item</p>
            <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Item</p>
            <p class = "menu"><img src="../../../assets/iconos/save.svg">Guardar</p>
            <p class = "menu"><img src="../../../assets/iconos/boxes-black.svg">Añadir Stock</p>
            <p class = "menu"><img src="../../../assets/iconos/image.svg">Añadir Imagen</p>
        </div>
        <p>Acciones</p>
    </div>
</div>
<div class = "dos">
    <div class = "filizq">
    <p>Item</p>
    <label>ID:</label><input type="text" name="inputname" value="000001" disabled><br>
    <label>Precio:</label><input type="text" name="inputname" value="22.45 €"><br>
    <label>Atributo 1:</label>
    <select>
        <option value="c1">Valor 1</option>
        <option value="c2">Valor 2</option>
        <option value="c3">Valor 3</option>
        <option value="c4">Valor 4</option>
    </select><br>
    <label>Atributo 2</label>
    <select>
        <option value="sc1">Valor 2</option>
        <option value="sc2">Valor 3</option>
        <option value="sc3">Valor 4</option>
        <option value="sc4">Valor 5</option>
    </select><br>
    </div>
    <div class = "filizq">
        <p>Item</p>
        <label>ID:</label><input type="text" name="inputname" value="000001" disabled><br>
        <label>Nombre:</label><input type="text" name="inputname" value="Un Nombre de Producto" disabled><br>
        <label>Clase:</label><input type="text" name="inputname" value="Un nombre de clase" disabled><br>
        <label>Subclase:</label><input type="text" name="inputname" value="Un nombre de subclase" disabled><br>
        </div>
</div>
<h2>Imágenes</h2>
<div class = "tres">
    <div class="imag">
        <img class = "imagen" src="../../../assets/images/producto_1.png">
        <p>item-000001-img-01.jpg</p>
        <p class = "menu"><img src="../../../assets/iconos/trash3.svg"></p>
    </div>
    <div class="imag">
        <img class = "imagen" src="../../../assets/images/producto_1.png">
        <p>item-000001-img-02.jpg</p>
        <p class = "menu"><img src="../../../assets/iconos/trash3.svg"></p>
    </div>
    <div class="imag">
        <img class = "imagen" src="../../../assets/images/producto_1.png">
        <p>item-000001-img-03.jpg</p>
        <p class = "menu"><img src="../../../assets/iconos/trash3.svg"></p>
    </div>
</div>

