.suggested-prods{
    height: 304px;
}
.prod_preview {
    width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    text-align: center;
    margin: 0 15px;
}
.prod_preview img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.prod_price{
    color: #AD0624;
}
.highlited_products h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3em;
    font-size: 1.2em;
    font-weight: 250;
    text-align: center;
    margin: 15px 0 10px 0;
    color: rgba(0,0,0,.7);
}
.prod_price{
    color: #AD0624;
}
.fw_banner{
    background-image: url('../../../../assets/images/banner_handmade.png');
    background-position: center;
    background-size: cover;
    height: 260px;
}

.fw_banner div{
    height: 260px;
    padding: 2.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    color: white;
    background-color: rgba(255,255,255,.15);
}