.fw_banner{
    background-image: url('../../../../assets/images/banner_handmade.png');
    background-position: center;
    background-size: cover;
    height: 260px;
}

.fw_banner div{
    height: 260px;
    padding: 2.5em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    color: white;
    background-color: rgba(255,255,255,.15);
}