<section class="highlighted_products_container">
    <h3>NOVEDADES</h3>
    <div class="highlighted_products row flex overflow-hidden justify-content-center">
        <div class="highlighted_prod_preview" *ngFor="let product of newProducts">
            <a class="highlighted_prod_link" routerLink="products/product/{{product.id}}">
                <img *ngIf="product.productItems !== undefined && product.productItems[0] !== undefined && product.productItems[0].images !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
                <p class="highlighted_prod_name">{{product.name}}</p>
                <p class="highlighted_prod_price">{{product.price}} €</p>
            </a>
        </div>
    </div>
</section>

<div class="fw_banner">
    <div>Hecho a mano con el corazón por y para ti.</div>
</div>

<section class="highlighted_products_container">
    <h3>DESTACADOS</h3>
    <div class="highlighted_products row flex overflow-hidden justify-content-center">
        <div class="highlighted_prod_preview" *ngFor="let product of productsForSale">
            <a class="highlighted_prod_link" routerLink="products/product/{{product.id}}">
                <img *ngIf="product.productItems !== undefined && product.productItems[0] !== undefined && product.productItems[0].images !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
                <p class="highlighted_prod_name">{{product.name}}</p>
                <p class="highlighted_prod_price">{{product.price}} €</p>
            </a>
        </div>
    </div>
</section>
