<h1>Descuentos</h1>
<div class ="filtros">
    <div class = "filizq">
        <div class = "filizqarr">
            <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Descuento</p>
            <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Descuento</p>
            <p class = "menu"><img src="../../../assets/iconos/save.svg">Guardar</p>
            <p class = "menu"><img src="../../../assets/iconos/x-octagon.svg">Cancelar</p>
        </div>
        <p>Acciones</p>
    </div>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>ID</th>
        <th>Slogan</th>
        <th>Válido desde</th>
        <th>Válido hasta</th>
        <th>Cancelado</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Slogan muy largo que se corta a la mit...</td>
        <td>01/01/2022</td>
        <td>01/01/2022</td>
        <td><input type = "checkbox"></td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Slogan muy largo que se corta a la mit...</td>
        <td>01/01/2022</td>
        <td>01/01/2022</td>
        <td><input type = "checkbox"></td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Slogan muy largo que se corta a la mit...</td>
        <td>01/01/2022</td>
        <td>01/01/2022</td>
        <td><input type = "checkbox"></td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Slogan muy largo que se corta a la mit...</td>
        <td>01/01/2022</td>
        <td>01/01/2022</td>
        <td><input type = "checkbox"></td>
    </tr>
</div>

