<h1 class="titulo-2">CONTACTO</h1>
<section id="content" class="row">
    <div class="col">
        <h2>¿Quiéres contactar con nosotros?</h2>
        <p>
            Rellena el siguiente formulario, o si lo prefieres puedes contactar con nosotros en la siguiente dirección de email <a>pimpocreaciones@pimpo.pi</a>
        </p>
    </div>
    <form class="col-6">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="surname">Apellidos:</label><br>
        <input type="text" id="surname" name="surname"><br>
        <label for="email">email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="msg">¿En qué podemos ayudarte?</label><br>
        <textarea rows="5" cols="40" id="msg" name="msg"></textarea>
    </form>
</section>
