<h1 class="component-title-1">Pedidos</h1>
<div class ="container-box">
  <div class="action-panel-group">
    <div class="action-panel-group-content">
      <div class="action-panel-filter-wrapper">
        <label class="action-panel-filter-label">Estado</label>
        <select class="action-panel-filter" id="status-filter" (change)="onFilterChange($event)">
            <option value="">Todos</option>
            <option value="Pagado">Pagado</option>
            <option value="En Gestión">En Gestión</option>
            <option value="Enviado">Enviado</option>
            <option value="Cancelado">Cancelado</option>
        </select>
      </div>
    </div>
    <span class="action-panel-group-label">Filtros</span>
  </div>
</div>
<div class="admin-table-wrapper">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Estado</th>
        <th>Importe</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Dirección</th>
        <th>Comentarios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrdersMap | keyvalue">
        <td></td>
        <td><a [routerLink]="['/detpedidos/' + order.value.id]">{{ ("000000" + order.value.id).slice(-6) }}</a></td>
        <td>{{ order.value.status }}</td>
        <td>{{ order.value.amount | currency : 'EUR' : ''}} €</td>
        <td>{{ order.value.created_at?.substr(0,10) }}</td>
        <td>{{ order.value.customer?.lastName }}, {{ order.value.customer?.firstName }}</td>
        <td>{{ order.value.customer?.streetAddress }}</td>
        <td>{{ order.value.comments }}</td>
      </tr>
    </tbody>
  </table>
</div>