* {
    padding: 0.1em;
}
h1{
    margin: 20px;
    font-weight: bold;
    font-size: 32px;
}
.filtros{
    margin: 20px;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
}
.tabla{
    margin: 20px;
    border: black 1px solid;
    border-radius: 10px;
}
p{
    font-size: 14px;
    display: flex;
    padding: 5px;
}
span{
    padding: 5px;
}
.filderarr{
    display: flex;
}
th, td {
    padding: 0.2cm;
    font-size: 14px;
    text-align: center;
}
.filder{
    padding: 0.2cm;
    height: 80%;
    width: 50%;
    border-left: 1px solid black;
}
.filizq{
    padding: 0.2cm;
}
.leyenda {
    text-align: center;
    padding-top: 0.6cm;
    padding-bottom: 0%;
}
th {
    border-bottom: 1px solid black;
}
table {
    width: 100%;
}