/* Highlighted products */
.highlited_products h3{
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3em;
    font-size: 1.2em;
    font-weight: 250;
    text-align: center;
    margin: 15px 0 10px 0;
    color: rgba(0,0,0,.7);
}
.suggested-prods{
    height: 304px;
}
.prod_preview {
    width: 224px;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    text-align: center;
    margin: 0 15px;
}
.prod_preview img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.prod_price{
    color: #AD0624;
}
/* image slider */

