<p>product-details works!</p>
<section class = "prod_details">
   
    <div class = "prod_images_slider">
      <div class = "prod_images_slide" [ngStyle]="{'transform': 'translateX(' + transX + 'px)'}" *ngFor="let image of productUniqueImages; let i=index">
        <img src={{apiStorage}}{{image.imagePath}}>
      </div>

      <button class="slider_btn prev" (click)="changeSlide('left')"><i class="bi bi-caret-left"></i></button>
      <button class="slider_btn next" (click)="changeSlide('right')"><i class="bi bi-caret-right"></i></button>
    </div>


    <div class = "prod_data">

    </div>
</section>

<section class="highlighted_products_container">
    <h3>NOVEDADES</h3>
    <div class="highlighted_products row flex overflow-hidden justify-content-center">
      <div class="highlighted_prod_preview" *ngFor="let product of newProducts">
          <a class="highlighted_prod_link" routerLink="products/product/{{product.id}}">
              <img *ngIf="product.productItems !== undefined && product.productItems[0].images !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
              <p class="highlighted_prod_name">{{product.name}}</p>
              <p class="highlighted_prod_price">{{product.price}} €</p>
          </a>
      </div>
  </div>
</section>
