.prod_details{
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.slider_container{
    display: flex;
    justify-content: right;
}

.prod_data{
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin-right: 40px;
    width: 100%;
}

.md-opacity{
    opacity: .7;
}

.tachado{
    position: relative;
}

.tachado::after{
    content: '';
    border-bottom: 3px solid #AD0824;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.prod-data-price{
    text-align: right;
    color: #AD0824;
    display: flex;
    align-items: center;
    justify-content: end;
}

.highlighted_prod_link {
    cursor: pointer; 
  }

.prod-data-description{
    display: flex;
    padding: 20px 20px;
    min-height: 150px;
}
.prod-data-description p{
    background-color: #EDEDF1;
    border-radius: .5em;
    padding: 1em;
}

label{
    font-size: 1.3em;
}

.select-add{
    height: 100%;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-selector,
.color-selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}
.color-selector-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-selector-option{
    width: 2em;
    height: 2em;
    margin: 0 .5em;
    border: 1.5px solid black;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.size-selector-combo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-add{
    margin: 1.5em auto;
    color: white;
    background-color: #F8C630;
    border-color: #F8C630;
}

/* image slider */
.prod_images_slider{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 450px;
    height: 450px;
    background-color: white;
}
.prod_images_slide{
    text-align: center;
}
.prod_images_slide img{
    max-width: 450px;
    max-height: 100%;
}
.slider_btn{
    position:absolute;
    top:45%;
    z-index: 10;
    border: none;
    background: none;
}
.slider_btn i{
    font-size: 2em;
    color: #e8e8eb;
}
.prev{
    left: 1.2rem;
    transform: translate(-50%, -50%);
}
.next{
    right: 1.2rem;
    transform: translate(50%, -50%); 
}

