<section class = "prod_details d-flex">
   
    <div class = "prod_images_slider">
      <button *ngIf="productUniqueImages.length>1" class="slider_btn prev" (click)="changeSlide('left')"><i class="bi bi-arrow-left-circle-fill"></i></button>
      <button *ngIf="productUniqueImages.length>1" class="slider_btn next" (click)="changeSlide('right')"><i class="bi bi-arrow-right-circle-fill"></i></button>

      <div class = "prod_images_slide" [ngStyle]="{'transform': 'translateX(' + transX + 'px)'}" *ngFor="let image of productUniqueImages">
        <img src={{apiStorage}}{{image.imagePath}}>
      </div> 
    </div>


    <div class = "prod_data">
      <h2>{{product.name}}</h2>
      <h2>{{product.price}}</h2>
      <p>{{product.description}}</p>
      <div>
        <label>Talla: </label>
        <span *ngIf="selectedColorSizes.length == 0"> Selecciona primero un color.</span>
        <select name="size" id="size_selector" *ngIf="selectedColorSizes.length !== 0">
          <option *ngFor="let size of selectedColorSizes" value={{size}}>{{size}}</option>
        </select>
      </div>
      
      <div *ngFor="let item of productColorSize | keyvalue">
        <label>{{item.key}}: </label>
        <input type="radio" id="item.key" name="item.key" value="item.key" (click)="radioSelected(item.key)" [checked]='false'>
      </div>

    </div>
</section>

<section class="highlighted_products_container">
    <h3>NOVEDADES</h3>
    <div class="highlighted_products row flex overflow-hidden justify-content-center">
      <div class="highlighted_prod_preview" *ngFor="let product of newProducts">
          <a class="highlighted_prod_link" routerLink="products/product/{{product.id}}">
              <img *ngIf="product.productItems !== undefined && product.productItems[0].images !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
              <p class="highlighted_prod_name">{{product.name}}</p>
              <p class="highlighted_prod_price">{{product.price}} €</p>
          </a>
      </div>
  </div>
</section>
