<section class = "prod_details d-flex">
   
    <div class="slider_container col-5">
      <div class = "prod_images_slider">
        <button *ngIf="productUniqueImages.length>1" class="slider_btn prev" (click)="changeSlide('left')"><i class="bi bi-arrow-left-circle-fill"></i></button>
        <button *ngIf="productUniqueImages.length>1" class="slider_btn next" (click)="changeSlide('right')"><i class="bi bi-arrow-right-circle-fill"></i></button>
  
        <div class = "prod_images_slide" [ngStyle]="{'transform': 'translateX(' + transX + 'px)'}" *ngFor="let image of productUniqueImages">
          <img src={{apiStorage}}{{image.imagePath}}>
        </div> 
      </div>
    </div>

    <div class = "prod_data">
        <div class="row">
          <h2 class="col-7 prod-data-name">{{product.name}}</h2>
          <div class="col-5 prod-data-price">
            <h3 *ngIf="product.price != getItemPriceWithDiscount(selectedItem)" class="tachado md-opacity">&nbsp;{{product.price}}</h3>
            <h3 *ngIf="product.price != getItemPriceWithDiscount(selectedItem)" class="md-opacity">&nbsp;€&nbsp;&nbsp;</h3>
            <h2>{{getItemPriceWithDiscount(selectedItem).toFixed(2)}}€</h2>
          </div>
        </div>
        <div class="row prod-data-description">
          <p>{{product.description}}</p>
        </div>
        <div class="row select-add">
          <div class="col-8 select">
<!-- size selector -->
            <div class="size-selector" *ngIf="!productOneSize; else oneSize">
              <div class="col-4">
                <label>Talla</label>
              </div>
              <div class="col-8 size-selector-combo">
                <span *ngIf="selectedColorSizes.length == 0"> Selecciona primero un color.</span>
                <select name="size" id="size_selector" *ngIf="selectedColorSizes.length !== 0">
                  <option *ngFor="let size of selectedColorSizes" value={{size}} (click)="sizeSelected(size)">{{size}}</option>
                </select>
              </div> 
            </div>
            <ng-template #oneSize>
              <div class="size-selector">
                <div class="col-4">
                  <label>Talla</label>
                </div>
                <div class="col-8">
                  <span>{{selectedColorSizes[0]}}</span>
                </div>
              </div>
            </ng-template>
<!-- color selector -->   
            <div >
              <div *ngIf="productColorOptions === 1; else moreColorOptions">
                <div class="color-selector" *ngFor="let item of productColorSize | keyvalue">
                  <div class="col-4">
                    <label>Color</label>
                  </div>
                  <div class="col-8">
                    <span>Único</span>
                  </div>
                </div>
              </div>
              <ng-template #moreColorOptions>
                <div class="color-selector">
                  <div class="col-4">
                    <label>Color</label>
                  </div>
                  <div class="col-8 color-selector-option-container">
                    <div *ngFor="let item of productColorSize | keyvalue">
                      <!-- <label>{{item.key}} </label> -->
                      <div class ="color-selector-option" style.background-color = {{item.key}}>
                        <input type="radio" id="item.key" name="item.key" value="item.key" (click)="colorSelected(item.key)" [checked]='false' *ngIf="selectedItem.color !== item.key">
                        <input type="radio" id="item.key" name="item.key" value="item.key" (click)="colorSelected(item.key)" [checked]='true' *ngIf="selectedItem.color === item.key">
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            

          </div>
          <div class="col-4 add">
            <button class="btn" id="btn-add" (click)="addToCart()">AÑADIR <i class="bi bi-cart3"></i></button>
          </div>
        </div>
    </div>
</section>

<section class="highlighted_products_container">
    <h3>NOVEDADES</h3>
    <div class="highlighted_products row flex overflow-hidden justify-content-center">
      <div class="highlighted_prod_preview" *ngFor="let product of newProducts">
          <a class="highlighted_prod_link" (click)="redirectProduct(product.id)">
              <img *ngIf="product.productItems !== undefined && product.productItems[0].images !== undefined" src={{apiStorage}}{{product.productItems[0].images[0].imagePath}}>
              <p class="highlighted_prod_name">{{product.name}}</p>
              <p class="highlighted_prod_price">{{product.price}} €</p>
          </a>
      </div>
  </div>
</section>
