::ng-deep.mat-dialog-container {
    background-color: #D9D9D9 !important;
    padding: .7em !important;
}
form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    margin:.2em;
    width: 100%;
    text-align: center;
}
input{
    width: 80%;
    margin: .2em;
}
.toggle{
    text-decoration: none;
    color: #F8C630;
}
.toggle:hover{
    cursor: pointer;
}
button{
    margin: .5em;
    color: white;
    background-color: #F8C630;
    border-color: #F8C630;
}