<section id="content" class="content">
    <div id="account-txt" class="col-4 column wrapper">
        <h2>TUS DATOS</h2>
        <div class="column gray-bg large-font wrapper-2">
            <div class="order-table large-font">
                <div id="address-content" class="column disabled gray-bg large-font wrapper-2">
                  <label class="bold">Nombre:</label>
                  <div class="same-line">
                    <input type="text" placeholder="First name" [(ngModel)]="customer.firstName">
                    <input type="text" placeholder="Last name" [(ngModel)]="customer.lastName">
                  </div>
                  <span class="bold">Dirección:</span>
                  <input type="text" placeholder="Street address" [(ngModel)]="customer.streetAddress">
                  <div class="same-line">
                    <input type="text" placeholder="Zip code" [(ngModel)]="customer.zipCode">
                    <input type="text" placeholder="City" [(ngModel)]="customer.city">
                  </div>
                  <input type="text" placeholder="Province" [(ngModel)]="customer.province">
                  <input type="text" placeholder="Country" [(ngModel)]="customer.country">
                  <button *ngIf="!onEdit" (click)="onEditClick()" class="btn button bold large-font" id="edit-customer-data-button">EDITAR</button>
                  <button *ngIf="onEdit" (click)="onSaveClick()" class="btn button bold large-font" id="edit-customer-data-button">GUARDAR</button>
                </div>
            </div>
        </div>
    </div>
    <div id="tabla-pedidos" class="col-8 column wrapper">
      <h2>TUS PEDIDOS</h2>
      <div class="wrapper-2 gray-bg">
        <table class="order-table large-font">
            <thead>
              <tr>
                <th>FECHA PEDIDO</th>
                <th>Nº PEDIDO</th>
                <th>IMPORTE</th>
                <th>ESTADO</th>
                <th></th> <!-- Find icon column -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of customer.orders">
                <td>{{ order.created_at?.substr(0,10) }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.status }}</td>
                <td><a [routerLink]="['/orderdetails/' + order.id]"><img src="../../../../assets/iconos/lupa.svg"></a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</section>
