<h1 class="component-title-1">Descuento {{ (seasonalSale.id) ? ('000000' + seasonalSale.id).slice(-6) : '000000' }}</h1>
<div class="container-box">
  <div class="action-panel-group">
    <div>
      <button class="action-panel-button" (click)="onNewSaleButtonClick($event)">
        <img src="../../../assets/iconos/plus-lg.svg">Nuevo Descuento
      </button>
      <button class="action-panel-button" (click)="onDeleteSaleButtonClick($event)">
        <img src="../../../assets/iconos/trash3.svg">Eliminar Descuento
      </button>
      <button class="action-panel-button" (click)="onSaveSaleButtonClick($event)" [disabled]="disableEdit">
        <img src="../../../assets/iconos/save.svg">Guardar
      </button>
      <button class="action-panel-button" (click)="onCancelSaleButtonClick($event)" [disabled]="!canBeCanceled">
        <img src="../../../assets/iconos/x-octagon.svg">Cancelar
      </button>
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
</div>
<div class="container-box">
  <form #seasonalSaleForm="ngForm">
    <div class="form-group">
      <span class="form-group-title">Descuento</span>
      <div class="form-group-content">
        <div class="form-group-content-column">
          <div>
            <label class="form-label">ID:</label>
            <input type="text" name="id" value="{{ (seasonalSale.id) ? ('000000' + seasonalSale.id).slice(-6) : '000000' }}" disabled>
          </div>
          <div>
            <label class="form-label">Válido desde:</label>
            <input type="datetime-local" name="ValidFromDateTime" [(ngModel)]="seasonalSale.validFromDateTime" (focus)="onValidFromFocus($event)" (focusout)="onValidFromFocusout($event)" [disabled]="disableEdit">  
          </div>
          <div>
            <label class="form-label">Válido hasta:</label>
            <input type="datetime-local" name="validToDateTime" [(ngModel)]="seasonalSale.validToDateTime" (focus)="onValidToFocus($event)" (focusout)="onValidToFocusout($event)" [disabled]="disableEdit">  
          </div>
          <div>
            <label class="form-label">Cancelado</label>
            <input type="checkbox" name="isCanceled" disabled [(ngModel)]="seasonalSale.isCanceled">
          </div>
        </div>
        <div class="form-group-content-column">
          <div class="column">
            <label>Slogan:</label>
            <textarea name="slogan" [(ngModel)]="seasonalSale.slogan" [disabled]="disableEdit"></textarea>
          </div>
          <div class="column">
            <label>Descripción:</label>
            <textarea name="description" [(ngModel)]="seasonalSale.description" [disabled]="disableEdit"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<h2 class="component-title-2">Items con Descuento</h2>
<div class="container-box">
  <div class="action-panel-group">
    <div>
      <button class="action-panel-button" (click)="onDeleteSaleLineButtonClick($event)" [disabled]="disableEdit">
        <img src="../../../assets/iconos/trash3.svg">Eliminar Descuento
      </button> 
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
  <div class="v-line"></div>
  <div class="action-panel-group">
    <div class="action-panel-group-content">
      <div class="action-panel-filter-wrapper">
        <label class="action-panel-filter-label">Descuento por defecto:</label> 
        <input type="number" class="action-panel-filter" min="1" max="100" [(ngModel)]="defaultDiscountPct" (focus)="onDefaultDiscountFocus($event)" (focusout)="onDefaultDiscountFocusout($event)"> 
      </div>
    </div>
    <span class="action-panel-group-label">Ajustes</span>
  </div>
</div>
<div class="admin-table-wrapper">
  <table>
    <thead>
      <tr>
        <td><input type="checkbox" (change)="onSelectAllSaleLinesCheckboxChange($event)"></td>
        <th>Producto</th>
        <th>Item</th>
        <th>Precio</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Stock</th>
        <th>Descuento (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of seasonalSale.lines">
        <td><input type="checkbox" value="{{ line.productItem?.id }}" class="select-sale-lines-checkbox"></td>
        <td><a [routerLink]="['/detproductos/' + line.productItem?.product?.id]">{{ line.productItem?.product?.name }}</a></td>
        <td><a [routerLink]="['/detitem/item/' + line.itemId]">{{ ('000000' + line.itemId).slice(-6) }}</a></td>
        <td>{{ line.productItem?.product?.price | currency : 'EUR' : '' }} €</td>
        <td>{{ line.productItem?.color }}</td>
        <td>{{ line.productItem?.size }}</td>
        <td>{{ line.productItem?.stock }}</td>
        <td><input type="number" name="discount" min="1" max="100" [(ngModel)]="line.discountPercentage" [disabled]="disableEdit"></td>
      </tr>
    </tbody>
  </table>
</div>
<h2 class="component-title-2">Items sin Descuento</h2>
<div class="container-box">
  <div class="action-panel-group">
    <div>
      <button class="action-panel-button" (click)="onAddDiscountButtonClick($event)" [disabled]="disableEdit">
        <img src="../../../assets/iconos/plus-lg.svg">Añadir Descuento
      </button>
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
</div>
<div class ="admin-table-wrapper">
  <table>
    <thead>
      <tr>
        <td><input type="checkbox" (change)="onSelectAllItemsWithoutDiscountCheckboxChange($event)"></td>
        <th>Producto</th>
        <th>Item</th>
        <th>Precio</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productItemsWithoutDiscountMap | keyvalue">
        <td><input type="checkbox" value="{{ item.value.id }}" class="select-item-without-discount-checkbox"></td>
        <td><a [routerLink]="['/detproductos/' + item.value.product?.id]">{{ item.value.product?.name }}</a></td>
        <td><a [routerLink]="['/detitem/item/' + item.value.id]">{{ ('000000' + item.value.id).slice(-6) }}</a></td>
        <td>{{ item.value.product?.price | currency : 'EUR' : '' }} €</td>
        <td>{{ item.value.color }}</td>
        <td>{{ item.value.size }}</td>
        <td>{{ item.value.stock }}</td>
      </tr>
    </tbody>
  </table>
</div>
