<h1>Descuento 000001</h1>
<div class ="uno">
    <div class = "filizq">
        <div class = "filizqarr">
            <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Descuento</p>
            <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Descuento</p>
            <p class = "menu"><img src="../../../assets/iconos/save.svg">Guardar</p>
            <p class = "menu"><img src="../../../assets/iconos/x-octagon.svg">Cancelar</p>
        </div>
        <p>Acciones</p>
    </div>
    
    <div class ="filder">
        <div class="v-line">
        </div>  
        <div class = "filderarr">
            <label>Clase</label>
            <select>
              <option value=""></option>
              <option value="c1">Clase 1</option>
              <option value="c2">Clase 2</option>
              <option value="c3">Clase 3</option>
              <option value="c4">Clase 4</option>
            </select>
            <label>Subclase</label>
            <select>
              <option value=""></option>
              <option value="sc1">Subclase 1</option>
              <option value="sc2">Subclase 2</option>
              <option value="sc3">Subclase 3</option>
              <option value="sc4">Subclase 4</option>
            </select>
        </div>
        <div>
            <p>Filtros</p>
        </div>
    </div>
</div>
<div class = "dos">
    <div class = "filizq">
    <p>Descuento</p>
    <label>ID:</label><input type="text" name="inputname" value="000001" disabled><br>
    <label>Válido desde:</label><input type="date" name="inputname" value="01/01/2022"><br>
    <label>Válido hasta:</label><input type="date" name="inputname" value="01/01/2022"><br>
    <label>Cancelado</label><input type = "checkbox">
    </div>
    <div class="filcen">
        <label>Slogan:</label><br>
        <textarea>EL slogan es un texto relativamente largo, debe ir en un textarea pero no es tan lago como la descripción. el usuario quiere leer o editar la descripción puede entrar a ver los detalles de un producto y usar este campo que es mucho mas grande."</textarea><br>
        <label>Descripción:</label><br>
        <textarea>La descripciones son muy largas y no cabe el texto entero en una columna de la tabla pero si el usuario quiere leer o editar la descripción puede entrar a ver los detalles de un producto y usar este campo que es mucho mas grande."</textarea>
    </div> 
</div>
<h2>Items con Descuento</h2>
<div class = "tres">
    <div>
        <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Descuento</p> 
        <p>Acciones</p>
    </div>
    <div>
        <p class = "menu">Descuento por defecto:</p> 
        <p>Ajustes</p>
    </div>
    <div>
        <input type="text" name="inputname" value="15%"> 
    </div>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>Producto</th>
        <th>Precio</th>
        <th>Atributo 1</th>
        <th>Atributo 2</th>
        <th>Descuento</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td><input type="text" name="inputname" value="50%"></td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td><input type="text" name="inputname" value="50%"></td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td><input type="text" name="inputname" value="50%"></td>
    </tr>
</div>
<h2>Items sin Descuento</h2>
<div class ="uno">
    <div class = "filizq">
        <div class = "filizqarr">
            <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Añadir Descuento</p>
        </div>
        <p>Acciones</p>
    </div>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>Producto</th>
        <th>Precio</th>
        <th>Atributo 1</th>
        <th>Atributo 2</th>
        <th>Stock</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>Un Nombre de Producto</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>50</td>
    </tr>
</div>
