<h1>Productos</h1>
<div class ="filtros">
    <div class = "filizq">
        <div class = "filizqarr">
        <p><img src="../../../assets/iconos/plus-lg.svg">Nuevo producto</p>
        <p><img src="../../../assets/iconos/trash3.svg">Eliminar producto</p>
        </div>
        <p>Acciones</p>
    </div>
    <div class ="filder">
        <div class="v-line">
        </div>  
        <div class = "filderarr">
            <label>Clase</label>
            <select>
              <option value=""></option>
              <option value="c1">Clase 1</option>
              <option value="c2">Clase 2</option>
              <option value="c3">Clase 3</option>
              <option value="c4">Clase 4</option>
            </select>
            <label>Subclase</label>
            <select>
              <option value=""></option>
              <option value="sc1">Subclase 1</option>
              <option value="sc2">Subclase 2</option>
              <option value="sc3">Subclase 3</option>
              <option value="sc4">Subclase 4</option>
            </select>
        </div>
        <div>
            <p>Filtros</p>
        </div>
    </div>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>ID</th>
        <th>Nombre</th>
        <th>Clase</th>
        <th>Subclase</th>
        <th>Descripción</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>Un Nombre de Producto</td>
        <td>Un Nombre de Clase</td>
        <td>Un Nombre de Subclase</td>
        <td>Las descripciones son muy largas y no cabe el texto entero...</td>
    </tr>
</div>
