h1{
    margin: 20px;
    font-weight: bold;
    font-size: 32px;
}
.filtros{
    margin: 20px;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
}
.tabla{
    margin: 20px;
    border: black 1px solid;
    border-radius: 10px;
}
p{
    font-size: 14px;
    display: flex;
    padding: 5px;
}
span{
    padding: 5px;
}
.filderarr{
    display: flex;
}
.filizqarr{
    display: flex;
    white-space: nowrap;
}
th, td {
    padding: 0.2cm;
    font-size: 14px;
}
.v-line{
    border-left: thin solid #000;
    height: 10%;
    position: absolute;
    padding: 0.4cm;
   }