<h1 class="component-title-1">Productos</h1>
<div class ="container-box">
  <div class="action-panel-group">
    <div>
      <button class="action-panel-button" (click)="onNewProductButtonClick($event)"><img src="../../../assets/iconos/plus-lg.svg">Nuevo producto</button>
      <button class="action-panel-button" (click)="onDeleteProductButtonClick($event)"><img src="../../../assets/iconos/trash3.svg">Eliminar producto</button>
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
  <div class="v-line"></div>
  <div class="action-panel-group">
    <div class="action-panel-group-content">
      <div class="action-panel-filter-wrapper">
        <label class="action-panel-filter-label">Categoría</label>
        <select class="action-panel-filter" id="category-filter" (change)="onFilterChange($event)">
          <option value="">Todas</option>
          <option value="Bisutería">Bisutería</option>
          <option value="Lana">Lana</option>
          <option value="Hama Beads">Hama Beads</option>
          <option value="Personalizaciones">Personalizaciones</option>
        </select>
      </div>
      <div class="action-panel-filter-wrapper">
        <label class="action-panel-filter-label">Subcategoría</label>
        <select class="action-panel-filter" id="subcategory-filter" (change)="onFilterChange($event)">
          <option value="">Todas</option>
          <option value="Colgantes">Colgantes</option>
          <option value="Pendientes">Pendientes</option>
          <option value="Pulseras">Pulseras</option>
          <option value="Patucos">Patucos</option>
          <option value="Gorros">Gorros</option>
        </select>
      </div>
    </div>
    <span class="action-panel-group-label">Filtros</span>
  </div>
</div>
<div class="admin-table-wrapper">
  <table>
    <thead>
      <tr>
        <td><input type="checkbox" (change)="onSelectAllProductsCheckboxChange($event)"></td>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProductsMap | keyvalue">
        <td><input type="checkbox" value="{{ product.value.id }}" class="select-product-checkbox"></td>
        <td><a [routerLink]="['/detproductos/' + product.value.id]">{{ ("000000" + product.value.id).slice(-6) }}</a></td>
        <td>{{ product.value.name }}</td>
        <td>{{ product.value.price | currency : 'EUR' : '' }} €</td>
        <td>{{ product.value.category }}</td>
        <td>{{ product.value.subcategory }}</td>
        <td>{{ product.value.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
