<section class="highlited_products">
    <h3>NOVEDADES</h3>
    <div class="prod_row">
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
    </div>
</section>

<div class="fw_banner">
    <div>Hecho a mano con el corazón por y para ti.</div>
</div>

<section class="highlited_products">
    <h3>DESTACADOS</h3>
    <div class="prod_row">
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
        <div class="prod_preview">
            <div class="prod_img"></div>
            <p class="prod_name">PRODUCTO 1</p>
            <p class="prod_price">19,90 €</p>
        </div>
    </div>
</section>
