<h1 class="component-title-1">Producto 000001</h1>
<div class ="container-box">
  <div class = "action-panel-group">
    <div>
      <button class="action-panel-button"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Item</button>
      <button class="action-panel-button"><img src="../../../assets/iconos/trash3.svg">Eliminar Item</button>
      <button class="action-panel-button"><img src="../../../assets/iconos/save.svg">Guardar</button>
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
</div>
<div class="container-box">
  <form>
    <div class="form-group">
      <span class="form-group-title">Producto</span>
      <div class="form-group-content">
        <div class="form-group-content-column">
          <div>
            <label class="form-label">ID:</label>
            <input type="text" name="productId" value="" disabled>
          </div>
          <div>
            <label class="form-label">Nombre:</label>
            <input type="text" name="name" value="">
          </div>
          <div>
            <label class="form-label">Categoría:</label>
            <select>
              <option value=""></option>
              <option value="Bisutería">Bisutería</option>
              <option value="Lana">Lana</option>
              <option value="Hama Beads">Hama Beads</option>
              <option value="Personalizaciones">Personalizaciones</option>
            </select>
          </div>
          <div>
            <label class="form-label">Subcategoría:</label>
            <select>
              <option value=""></option>
              <option value="Colgantes">Colgantes</option>
              <option value="Pendientes">Pendientes</option>
              <option value="Pulseras">Pulseras</option>
              <option value="Patucos">Patucos</option>
              <option value="Gorros">Gorros</option>
            </select>
          </div>
        </div>
        <div class="form-group-content-column">
          <div class="column">
            <label class="form-label">Descripción:</label>
            <textarea></textarea>
          </div>
        </div>
      </div>
    </div>
  </form> 
</div>
<h2 class="component-title-2">Items del Producto</h2>
<div class="container-box">
  <div class="action-panel-group">
    <div>
      <button class="action-panel-button"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Descuento</button>
      <button class="action-panel-button"><img src="../../../assets/iconos/trash3.svg">Eliminar Descuento</button>
      <button class="action-panel-button"><img src="../../../assets/iconos/boxes-black.svg">Añadir Stock</button>
    </div>
    <span class="action-panel-group-label">Acciones</span>
  </div>
</div>
<div class="admin-table-wrapper">
  <table>
    <thead>
      <tr>
        <td><input type="checkbox"></td>
        <th>ID</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" class="select-product-checkbox"></td>
        <td><a href=>000001</a></td>
        <td>#000000</td>
        <td>M</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
</div>

