<h1>Producto 000001</h1>
<div class ="uno">
    <div class = "filizq">
        <div class = "filizqarr">
            <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Item</p>
            <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Item</p>
            <p class = "menu"><img src="../../../assets/iconos/save.svg">Guardar</p>
        </div>
        <p>Acciones</p>
    </div>
    
    <div class ="filder">
        <div class="v-line">
        </div>  
        <div class = "filderarr">
            <label>Clase</label>
            <select>
              <option value=""></option>
              <option value="c1">Clase 1</option>
              <option value="c2">Clase 2</option>
              <option value="c3">Clase 3</option>
              <option value="c4">Clase 4</option>
            </select>
            <label>Subclase</label>
            <select>
              <option value=""></option>
              <option value="sc1">Subclase 1</option>
              <option value="sc2">Subclase 2</option>
              <option value="sc3">Subclase 3</option>
              <option value="sc4">Subclase 4</option>
            </select>
        </div>
        <div>
            <p>Filtros</p>
        </div>
    </div>
</div>
<div class = "dos">
    <div class = "filizq">
    <p>Producto</p>
    <label>ID:</label><input type="text" name="inputname" value="000001" disabled><br>
    <label>Nombre:</label><input type="text" name="inputname" value="Un Nombre de Producto" disabled><br>
    <label>Clase:</label>
    <select>
        <option value=""></option>
        <option value="c1">Clase 1</option>
        <option value="c2">Clase 2</option>
        <option value="c3">Clase 3</option>
        <option value="c4">Clase 4</option>
    </select><br>
    <label>Subclase</label>
    <select>
        <option value=""></option>
        <option value="sc1">Subclase 1</option>
        <option value="sc2">Subclase 2</option>
        <option value="sc3">Subclase 3</option>
        <option value="sc4">Subclase 4</option>
    </select><br>
    </div>
    <div class="filcen">
        <label>Descripción:</label><br>
        <textarea>La descripciones son muy largas y no cabe el texto entero en una columna de la tabla pero si el usuario quiere leer o editar la descripción puede entrar a ver los detalles de un producto y usar este campo que es mucho mas grande."</textarea>
    </div> 
</div>
<h2>Items del Producto</h2>
<div class = "tres">
    <div class = "filizqarr">
        <p class = "menu"><img src="../../../assets/iconos/plus-lg.svg">Nuevo Descuento</p>
        <p class = "menu"><img src="../../../assets/iconos/trash3.svg">Eliminar Descuento</p>
        <p class = "menu"><img src="../../../assets/iconos/boxes-black.svg">Añadir Stock</p>
    </div>
    <p>Acciones</p>
</div>
<div class ="tabla">
    <tr>
        <td><input type = "checkbox"></td>
        <th>ID</th>
        <th>Precio</th>
        <th>Atributo 1</th>
        <th>Atributo 2</th>
        <th>Stock</th>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>56</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>56</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>56</td>
    </tr>
    <tr>
        <td><input type = "checkbox"></td>
        <td><a href=>000001</a></td>
        <td>22,45€</td>
        <td>Valor 1</td>
        <td>Valor 2</td>
        <td>56</td>
    </tr>
</div>

